In [1]:

import numpy as np

In [2]:
import pandas as pd  
import matplotlib.pyplot as plt  
import seaborn as sns

In [32]:
df = pd.read_csv(r'D:\vscode\dummypro182025\messy_dataset_100k.csv')

In [33]:
print(df.head())  # Display first 5 rows

                                     ID               Name   Age  Salary  \
0  96f43560-033c-4d55-ae3b-d0fc04c175c8          dan rocha  43.0   34919
1  508ffa7f-cdc2-4a0c-b457-a7ba5eec3cbc        michele cox  57.0   70015
2  3b79f12a-7151-46b9-b0ad-7ecd8592ce46      thomas travis  29.0   57135
3  1509b115-89f6-49b2-820a-cb03ffacffff       jose leonard  32.0   65759
4  ecac913b-d736-4746-81fa-82b81b5794b0  christopher perez  48.0   36333

   Department        Joining_Date
0          IT          2024-12-18
1  Operations          2004/11/19
2          IT  September 21, 1971
3     Finance          03-16-2016
4          HR          20/12/1980

In [34]:
print(df.info())  # Show column data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102000 entries, 0 to 101999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            101015 non-null  object
 1   Name          102000 non-null  object
 2   Age           96821 non-null   float64
 3   Salary        102000 non-null  int64
 4   Department    101127 non-null  object
 5   Joining_Date  99960 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.7+ MB
None

In [35]:
print(df.describe())  # Summary statistics

                Age          Salary
count  96821.000000   102000.000000
mean      41.560416    80714.003373
std       13.864023    79475.563743
min       18.000000    -5000.000000
25%       30.000000    52219.000000
50%       42.000000    75406.000000
75%       54.000000    97974.250000
max       65.000000  1000000.000000

In [36]:
df.isnull().sum()

ID               985
Name               0
Age             5179
Salary             0
Department       873
Joining_Date    2040
dtype: int64

In [37]:
df['ID'].fillna(0, inplace=True)

C:\Users\SATHISH KUMAR S\AppData\Local\Temp\ipykernel_3032\1226997901.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ID'].fillna(0, inplace=True)

In [38]:
df.isnull().sum()

ID                 0
Name               0
Age             5179
Salary             0
Department       873
Joining_Date    2040
dtype: int64

In [39]:
df['Age'].fillna(df.mean, inplace=True)

C:\Users\SATHISH KUMAR S\AppData\Local\Temp\ipykernel_3032\171768025.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df.mean, inplace=True)
C:\Users\SATHISH KUMAR S\AppData\Local\Temp\ipykernel_3032\171768025.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method DataFrame.mean of                                           ID               Name   Age  Salary  \
0       96f43560-033c-4d55-ae3b-d0fc04c175c8          dan rocha  43.0   34919
1       508ffa7f-cdc2-4a0c-b457-a7ba5eec3cbc        michele cox  57.0   70015
2       3b79f12a-7151-46b9-b0ad-7ecd8592ce46      thomas travis  29.0   57135
3       1509b115-89f6-49b2-820a-cb03ffacffff       jose leonard  32.0   65759
4       ecac913b-d736-4746-81fa-82b81b5794b0  christopher perez  48.0   36333
...                                      ...                ...   ...     ...
101995  daa68993-ede9-467f-a991-424ed068998f      sarah johnson  58.0  107722
101996  cae95219-09f8-40f5-be3e-e3633ac05599        allison fox  64.0   44223
101997  7283a906-b740-4243-bd94-f8c03e3dcf3b        paul murphy  22.0   74184
101998  2545034c-714c-465e-879e-8b0bf198f62e    michelle holmes  40.0   31965
101999  26a693f5-db93-45d2-86dc-d47a5646de18     sandra sanders  25.0   53679

        Department        Joining_Date
0               IT          2024-12-18
1       Operations          2004/11/19
2               IT  September 21, 1971
3          Finance          03-16-2016
4               HR          20/12/1980
...            ...                 ...
101995          HR          01/08/1999
101996  Operations          09-30-1995
101997     Finance          15/10/2002
101998     Finance                 NaN
101999   Marketing  September 28, 1974

[102000 rows x 6 columns]>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Age'].fillna(df.mean, inplace=True)

In [40]:
df.isnull().any()

ID              False
Name            False
Age             False
Salary          False
Department       True
Joining_Date     True
dtype: bool

In [41]:
departments = ['HR', 'Finance', 'IT', 'Marketing', 'Sales']

In [42]:
df.loc[df['Department'].isna(), 'Department'] = np.random.choice(departments, size=df['Department'].isna().sum())

In [45]:
df.isnull().any()

ID              False
Name            False
Age             False
Salary          False
Department      False
Joining_Date     True
dtype: bool

In [47]:
df['Joining_Date'].fillna(method='ffill', inplace=True)

C:\Users\SATHISH KUMAR S\AppData\Local\Temp\ipykernel_3032\2521561911.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Joining_Date'].fillna(method='ffill', inplace=True)
C:\Users\SATHISH KUMAR S\AppData\Local\Temp\ipykernel_3032\2521561911.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Joining_Date'].fillna(method='ffill', inplace=True)

In [48]:
df.isnull().any()

ID              False
Name            False
Age             False
Salary          False
Department      False
Joining_Date    False
dtype: bool

In [52]:
df.to_csv("D:\\vscode\\dummypro182025\\clean_data.csv", index=False)

In [55]:
X = df.drop(columns=["Salary"])  # Features
y = df["Salary"]  # Target variable

In [57]:
print(X.columns)  # Check available columns

Index(['ID', 'Name', 'Age', 'Department', 'Joining_Date'], dtype='object')

In [59]:
if "Years_Experience" in df.columns:
    X["Years_Experience"] = df["Years_Experience"]
else:
    print("Error: 'Years_Experience' column is missing.")

Error: 'Years_Experience' column is missing.

In [60]:
from datetime import datetime
import numpy as np

def calculate_experience(date):
    try:
        for fmt in ("%Y-%m-%d", "%Y/%m/%d", "%B %d, %Y", "%m-%d-%Y", "%d/%m/%Y"):
            try:
                return (datetime.now().year - datetime.strptime(date, fmt).year)
            except ValueError:
                continue
    except:
        return np.nan  # Return NaN if parsing fails

df["Years_Experience"] = df["Joining_Date"].astype(str).apply(calculate_experience)

# Fill missing values with the median
df["Years_Experience"].fillna(df["Years_Experience"].median(), inplace=True)

# Verify if it was created
print(df.head())

                                     ID               Name   Age  Salary  \
0  96f43560-033c-4d55-ae3b-d0fc04c175c8          dan rocha  43.0   34919
1  508ffa7f-cdc2-4a0c-b457-a7ba5eec3cbc        michele cox  57.0   70015
2  3b79f12a-7151-46b9-b0ad-7ecd8592ce46      thomas travis  29.0   57135
3  1509b115-89f6-49b2-820a-cb03ffacffff       jose leonard  32.0   65759
4  ecac913b-d736-4746-81fa-82b81b5794b0  christopher perez  48.0   36333

   Department        Joining_Date  Years_Experience
0          IT          2024-12-18                 1
1  Operations          2004/11/19                21
2          IT  September 21, 1971                54
3     Finance          03-16-2016                 9
4          HR          20/12/1980                45

C:\Users\SATHISH KUMAR S\AppData\Local\Temp\ipykernel_3032\3194863630.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Years_Experience"].fillna(df["Years_Experience"].median(), inplace=True)

In [61]:
df.head()

,ID,Name,Age,Salary,Department,Joining_Date,Years_Experience
0,96f43560-033c-4d55-ae3b-d0fc04c175c8,dan rocha,43.0,34919,IT,2024-12-18,1
1,508ffa7f-cdc2-4a0c-b457-a7ba5eec3cbc,michele cox,57.0,70015,Operations,2004/11/19,21
2,3b79f12a-7151-46b9-b0ad-7ecd8592ce46,thomas travis,29.0,57135,IT,"September 21, 1971",54
3,1509b115-89f6-49b2-820a-cb03ffacffff,jose leonard,32.0,65759,Finance,03-16-2016,9
4,ecac913b-d736-4746-81fa-82b81b5794b0,christopher perez,48.0,36333,HR,20/12/1980,45

In [58]:
X["Years_Experience"] = df["Years_Experience"]

KeyError: 'Years_Experience'

In [56]:
X["Age_Experience"] = X["Age"] * X["Years_Experience"]

KeyError: 'Years_Experience'